<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Blog Project</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {# MEDIUM STYLE EDITOR#}
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
          type="text/css" media="screen" charset="utf-8">

    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    {# Fonts#}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">

    {# Google web fonts (for icons) #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">


<body class='loader'>


<nav class="navbar navbar-dark bg-dark navbar-expand-lg techfont">
    <div class="container">


        <ul class="navbar-nav mr-auto">
            <li><a class='navbar-brand bigbrand' href="{% url 'post_list' %}">The best blog</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="https://www.github.com">Github</a></li>
            <li><a href="https://www.linkedin.com">LinkedIn</a></li>

        </ul>

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'post_draft_list' %}">Drafts</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}?next=/">Log out</a>
                </li>

                <li class="nav-item">
                    <a>Welcome: {{ user.username }}</a>
                </li>
            {% else %}
                <li><a class='navbar-nav ml-auto' href="{% url 'login' %}"><span class="material-icons">perm_identity</span></a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

{# The actual blog posts#}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog_posts">
                {% block content %}
                {% endblock %}

            </div>

        </div>
    </div>
</div>

{# SCRIPTS#}

<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>

</body>
</html>
